﻿@model PaymentModel
@{
    ViewData["Title"] = "Payment | ePizza Hub";
    Address address = TempData.Peek<Address>("Address");
}
<section>
    @if (Model != null)
    {
        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="card mb-3">
                    <div class="col-sm-12">
                        <h5 class="mt-3">Order Details <span class="float-right"> Item(s): @Model.Cart.Items.Count()</span></h5>
                    </div>
                    <hr />
                    <div class="card-body pt-0 pb-0">
                        @foreach (var item in Model.Cart.Items)
                        {
                            <div class="row">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="rounded mb-3 mb-md-0">
                                        <img class="rounded w-100"
                                             src="@item.ImageUrl" alt="Sample">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5>@item.Name</h5>
                                            <p class="mb-2 text-muted small">Size: Regular</p>
                                            <p class="mb-2 text-muted small">
                                                Unit Price: ₹@item.UnitPrice.ToString("##.#")
                                            </p>
                                        </div>
                                        <div>
                                            <div class="def-number-input number-input safari_only mb-0 w-100">
                                                <div class="input-group mb-3">
                                                    <input class="form-control sm-control" size="2" min="0" name="quantity" value="@item.Quantity" readonly />
                                                </div>
                                            </div>
                                            <span id="spanTotal" class="form-text text-muted text-center">
                                                Total : ₹@((item.UnitPrice * @item.Quantity).ToString("##.#"))
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.Cart.Items.IndexOf(item) < Model.Cart.Items.Count - 1)
                            {
                                <hr class="mb-4">
                            }
                        }
                    </div>
                    <div class="col-sm-12">
                        <h5 class="mt-2">Delivery Address</h5>
                    </div>
                    <hr />
                    <div class="card-body pb-0">
                        <dl class="row">
                            <dt class="col-sm-2">
                                Street
                            </dt>
                            <dd class="col-sm-4">
                                @address.Street
                            </dd>
                            <dt class="col-sm-2">
                                Locality
                            </dt>
                            <dd class="col-sm-4">
                                @address.Locality
                            </dd>
                            <dt class="col-sm-2">
                                Zip Code
                            </dt>
                            <dd class="col-sm-4">
                                @address.ZipCode
                            </dd>
                            <dt class="col-sm-2">
                                Contact No.
                            </dt>
                            <dd class="col-sm-4">
                                @address.PhoneNumber
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="col-sm-12">
                        <h5 class="mt-3">Order Summary</h5>
                    </div>
                    <hr />
                    <div class="card-body pt-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
                                Amount
                                <span>₹@Model.Cart.Total</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
                                Tax (5%)
                                <span>+₹@Model.Cart.Tax</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center  px-0 mb-3">
                                <strong>Total Amount</strong>
                                <span><strong>₹@Model.Cart.GrandTotal</strong></span>
                            </li>
                        </ul>
                        @if (CurrentUser != null)
                        {
                            <button id="rzp-button" hidden>Pay</button>
                            @using (Html.BeginForm("Status", "Payment", FormMethod.Post, new { id = "PaymentForm", name = "PaymentForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Receipt", Model.Receipt);
                                @Html.Hidden("Currency", "INR");
                                @Html.Hidden("rzp_signature")
                                @Html.Hidden("rzp_paymentid")
                                @Html.Hidden("rzp_orderid")
                                <button type="submit" id="rzp-paymentresponse" hidden style="display: none;">Submit</button>
                            }
                            <a href="#" class="btn btn-primary btn-block" onclick="submitToPayment()">Pay Now</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "@Model.RazorpayKey",
        "amount": "@(Model.GrandTotal*100)",
        "currency": "@Model.Currency",
        "name": "@Model.Name",
        "description": "@Model.Description",
       // "image": "https://www.dotnettricks.com/images/d-icon.png",
        "image": "/images/icon.png",
        "order_id": "@Model.OrderId",
        "handler": function (response){
            document.getElementById('rzp_paymentid').value = response.razorpay_payment_id;
            document.getElementById('rzp_orderid').value = response.razorpay_order_id;
            $("#rzp_signature").val(response.razorpay_signature);
            $('#PaymentForm').submit();
        },
        "prefill": {
            "name": "@CurrentUser.Name",
            "email": "@CurrentUser.Email",
            "contact": "@CurrentUser.PhoneNumber"
        },
        "notes": {
            "address": "NA"
        },
        "theme": {
            "color": "#4285F4"
        }
    };
    var rzp = new Razorpay(options);

    window.onload = function(){
        document.getElementById('rzp-button').click();
    };

    document.getElementById('rzp-button').onclick = function (e) {
        rzp.open();
        e.preventDefault();
    };

    function submitToPayment() {
        debugger
       rzp.open();
       e.preventDefault();
    }
</script>