﻿ <div class="container pt-4 ">
    <div class="row pt-4">
        <h2 class="col-sm-12 mb-4" id="heading">Piazz ,Dessert, Beverages </h2>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 pb-4">
                <div class="card box-shadow">
                    <img class="card-img-top" src="@item.ImageUrl" alt="image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">@item.Name <span class="float-right font-20">₹@item.UnitPrice.ToString("##.#")</span></h4>
                        <p class="card-text">@item.Description</p>
                        <p>
                            <span class="pt-1 d-inline-block"> Size: Regular</span>
                            <span class="float-right font-20">
                                <a href="javascript:void(0)" onclick="AddToCart('@item.Id','@item.Name','@item.UnitPrice',1)" class="btn btn-outline-primary">Add To Cart</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
 <div class="toast fade hide" data-autohide="false" id="toastCart">
     <div class="toast-header">
         <strong class="mr-auto text-primary">Notification</strong>
         <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">×</button>
     </div>
     <div class="toast-body"></div>
 </div>