﻿@model IEnumerable<ePizzaHub.entities.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Item List
    <samp class="float-right"> <a asp-action="Create" class="btn btn-danger">Create New</a></samp>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
               images
            </th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
              <img  src="@item.ImageUrl" class="w-75" />
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id , url = @item.ImageUrl })
            </td>
        </tr>
}
    </tbody>
</table>
