﻿#toastCart {
    bottom: 0;
    right: 0;
    z-index: 100;
    position: fixed;
}

.noti_Counter {
    background-color: #ec5252;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.43;
    margin: -6px 0 0 5px;
    padding: 0px 7px;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    padding: 0 !important;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /* margin-bottom: 20px;*/
}

footer {
    background: #222e3a;
    color: #e6e4e4;
    padding: 25px 0;
    width: 100%;
}

    footer a, footer a:visited {
        color: #a5c7ec;
    }

@media (min-width: 768px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 250px;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}
